* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(images/images.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: #0004f9; 
    font-family: Arial, sans-serif;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
}




input{
    width: 25%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
}


select {
    width: 25%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
}



textarea {
    width: 25%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
}




button {
    width: 25%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}